[submodule "sx126x-rs"]
	path = sx126x-rs
	url = https://github.com/tweedegolf/sx126x-rs
[submodule "f4-w25q"]
	path = f4-w25q
	url = https://github.com/X-yl/f4-w25q
[submodule "stm32f4xx-hal"]
	path = stm32f4xx-hal
	url = https://github.com/stm32-rs/stm32f4xx-hal
[submodule "nmea0183"]
	path = nmea0183
	url = https://github.com/nsforth/nmea0183/
[submodule "stm32-usb.rs"]
	path = stm32-usb.rs
	url = https://github.com/X-yl/stm32-usb.rs
[submodule "host-tools/tui-menu"]
	path = host-tools/tui-menu
	url = https://github.com/X-yl/tui-menu
[submodule "bmp388"]
	path = bmp388
	url = https://github.com/ibutra/bmp388
[submodule "icm209478_driver"]
	path = icm20948_driver
	url = https://github.com/Zolkin1/icm20948_driver
[submodule "icm20948_driver"]
	path = icm20948_driver
	url = https://github.com/Zolkin1/icm20948_driver
[submodule "embedded-hal"]
	path = embedded-hal
	url = https://github.com/rust-embedded/embedded-hal
[submodule "bmi323-rs"]
	path = bmi323-rs
	url = ssh://git@github.com/X-yl/bmi323-rs
